[Unit]
Description=The365Coin daemon serivce
After=network.target

[Service]
Type=simple
User=The365Coin
ExecStart=/opt/The365Coin/The365Coind

[Install]
WantedBy=multi-user.target
